doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        a(href="/") Return to the homepage
        h1 Update Objects
        form(action="", method="post")
            label(for="name") Holiday Name
            input(type="text" name="name")
            label(for="duration") Duration
            input(type="number" name="duration")
            label(for="location") Location
            input(type="number" name="Location")
            input(type="submit", value="Add")